<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page SRC servise</title>
    </head>
    <body>
        <div>
            <h1>Джанго Home Page SRC servise</h1>
        </div>
        <h4>Today Date: {{ date }}</h4>
        <h4>Name: {{ name }}</h4>
        <h4>{{ object_list }}</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae corporis culpa dolores eos, eum illo labore laboriosam quae quia ratione, tempora tempore ut voluptatem voluptatibus. Dolore expedita molestias recusandae.
        </p>
    </body>
</html>